.draggable.dragging , .draggableV.dragging, .draggableV1.dragging{
    opacity: .7;
}
.flexForm{
    border: 1px dashed #ccc;
    padding: 20px;
}
.paste{
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    flex-flow: row wrap;
    /*justify-content: space-around;*/
    padding: 20px;
}
.paste-inner{
    margin: 5px;
}
.flexForm input{
    margin-right: 5px;
}
.formDiv label{
    position: relative;
    color: red;
    top: 20px;
    left: 20px;
    background: white;
    padding: 0px 5px;
    font-style: italic;
}
/*    Details */
.flexFormDetails{
    border: 1px solid #cccccc;
    padding: 10px;
    display: flex;
}
.formDivDetails label{
    position: relative;
    color: #1d455b;
    top: 17px;
    left: 10px;
    background: white;
    padding: 0px 5px;
    font-style: italic;

}
.formInput{
    border: none ;
}
/**************************************** MENU STYLES ********************************************/
/*<label for="">Color</label>*/
/* Background:, Opacity: */
.topnav {
    overflow: hidden;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
/* Text: */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
/* <label for="">Active color</label> */
/* Background:, Text:, Opacity: */
.topnav a.active {
    background-color: rgb(4, 170, 109);
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Verdana, sans-serif;
    margin: 0;
    font-weight: normal;
}
/* <label for="">Dropdown color</label> */
/* Background:, Opacity: */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
/* Text: */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* <label for="">Hover color</label> */
/* Background:, Text:, Opacity: */


.topnav a:hover,.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
/* <label for="">Dropdown hover color</label> */
/* Background:, Text:, Opacity: */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: sticky;}
    .topnav.responsive .icon {
        position: sticky;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: sticky;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
/**************************************** MENU STYLES END ********************************************/
.divMenu{
    position:relative;display: flex;justify-content: flex-end; flex-flow: row wrap;width: 100%;border:1px #ccc solid;margin-bottom: 10px
}
.menuHead{
    width: 100%;height: 50px;
}
.menuSub{
    width: 70%;position: absolute;top:0px;height: 100%;cursor: move;
}
.menu{
    width: 100%;padding: 10px;cursor: move;
}
#backImage>a>img{
    width: 100%;
}
#imageShow>img,#imageShowArea>img,#videosShowArea>video{
    width: 100%;
}
#backTemplate
{
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

div.sub{
    width: 100%;
    height: 100%;
    padding: 20px;
}
div.sub>p>video{
    width: 100%;
    height: 100%;
}
.select2-container--default .select2-selection--single {
    height: 35px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

@font-face {
    font-family: PangramBlack;
    src: url('/web/assets/pangram/Pangram-Black.otf') format('otf');
}
@font-face {
    font-family: PangramBold;
    src: url('/web/assets/pangram/Pangram-Bold.otf') format('otf');
}
@font-face {
    font-family: PangramExtraBold;
    src: url('/web/assets/pangram/Pangram-ExtraBold.otf') format('otf');
}
@font-face {
    font-family: PangramExtraLight;
    src: url('/web/assets/pangram/Pangram-ExtraLight.otf') format('otf');
}
@font-face {
    font-family: PangramLight;
    src: url('/web/assets/pangram/Pangram-Light.otf') format('otf');
}
@font-face {
    font-family: PangramMedium;
    src: url('/web/assets/pangram/Pangram-Medium.otf') format('otf');
}
@font-face {
    font-family: PangramRegular;
    src: url('/web/assets/pangram/Pangram-Regular.otf') format('otf');
}